<nav class="indigo darken-4">
  <div class="nav-wrapper">
    <a href="/" class="nav-logo-container left">
      <img
        class="nav-logo" src="/assets/img/test_driven_io_full_logo_white_text.svg" alt="testdriven.io"
      />
    </a>
    <a href="/" class="brand-logo main-brand-logo center show-on-large hide-on-med-and-down">
      {{ site.title }}
    </a>
    <!-- <a href="/" class="brand-logo main-brand-logo hide-on-large-only">
      {{ site.mobile-title }}
    </a> -->
    <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Course</a></li>
      <li><a href="/course-contents">Contents</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/">Course</a></li>
      <li><a href="/course-contents">Contents</a></li>
    </ul>
  </div>
</nav>
